graph-tool # not pip installable so could cause issues, should use env.yml instead probably...
onionnet

numpy
pandas
matplotlib

sphinx>=8.0
myst-nb
myst-parser
sphinx-book-theme  # or your chosen theme
sphinx-copybutton
sphinx-autodoc-typehints
sphinx-tabs
sphinx-design
sphinxcontrib-bibtex
ipython
sphinx_rtd_theme
nbsphinx
sphinxext-opengraph